html, body {
    margin: 0;
}
body {
    background-color: #f1f1f1;
    display: flex;
    justify-content: center;
}

.wrapper {
    width: 1200px;
    display: flex;
    margin: 0 auto;
    background-color: rgb(57, 75, 69);
}
.main {
    display: flex;
    flex-flow: column;
    width: 85%;
}
.menu {
    width: 15%;
    background-color: rgb(130, 340, 240);
    padding: 10px 20px 0px;

}
.header {
    background-color: rgb(254, 255, 255);
    min-height: 140px; 
    .nome-clinica {
        
        margin-top: -90px;
        margin-left: 300px;
        font-size: 40px;
        color: rgb(70, 13, 124);
        font-style: italic;
        font-weight: bold;
        
    }
}
.content {

    background-color: rgb(244, 245, 239);
    min-height: 300px;
    padding: 20px;
    font-size: 20px;
}

.footer {
    background-color: rgb(400, 330, 230);
    min-height: 150px;
}